:root{
    --white: #FFFBE3;
    --light-yellow: #F4ED92;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

main{
   width: 100%;
   height: 100%; 
}

header{
    height: 10%;
    background-color: var(--light-yellow);
}

#main-con{
    display: flex;
    width: 100%;
    height: 90%;
}

#toolbar{
    width: 25%;
    height: 100%;
    border: 1px solid green;
}

#content-con{
    width: 75%;
    height: 100%;
}

#nav-bar{
    width: 100%;
    height: 5%;
    border: 1px solid red;
}

#nav-bar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#content{
    height: 95%;
    width: 100%;
    border: 1px solid black;
}